openapi: 3.2.0
info:
  contact:
    email: support@cockroachlabs.com
    name: Cockroach Labs Support
    url: https://support.cockroachlabs.com
  description: An API for managing CockroachDB Cloud resources
  title: CockroachDB Cloud Private Endpoint Services API
  version: '2026-09-15'
servers:
- url: https://cockroachlabs.cloud
security:
- Bearer: []
tags:
- name: Private Endpoint Services
paths:
  /api/v1/clusters/{cluster_id}/networking/aws-endpoint-connections:
    get:
      operationId: CockroachCloud_ListAwsEndpointConnections
      summary: List all AwsEndpointConnections for a cluster
      description: 'Can be used by the following roles assigned at the organization, folder or cluster scope:

        - CLUSTER_ADMIN

        - CLUSTER_OPERATOR_WRITER

        - CLUSTER_DEVELOPER

        - AUDITOR'
      parameters:
      - name: cluster_id
        in: path
        description: cluster_id is the ID for the cluster.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AwsEndpointConnections'
        '400':
          description: Returned when a request field is invalid.
          content:
            application/json:
              schema: {}
        '401':
          description: Returned when the token bearer cannot be authenticated.
          content:
            application/json:
              schema: {}
        '403':
          description: Returned when the user does not have permission to access the resource.
          content:
            application/json:
              schema: {}
        '404':
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema: {}
        '500':
          description: Server error
          content:
            application/json:
              schema: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - Private Endpoint Services
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/networking/aws-endpoint-connections \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
  /api/v1/clusters/{cluster_id}/networking/aws-endpoint-connections/{endpoint_id}:
    patch:
      operationId: CockroachCloud_SetAwsEndpointConnectionState
      summary: Set the AWS Endpoint Connection state
      description: 'The "status" in the response does not reflect the latest post-update

        status, but rather the status before the state is transitioned.


        Can be used by the following roles assigned at the organization, folder or cluster scope:

        - CLUSTER_ADMIN

        - CLUSTER_OPERATOR_WRITER'
      parameters:
      - name: cluster_id
        in: path
        description: cluster_id is the ID for the cluster.
        required: true
        schema:
          type: string
      - name: endpoint_id
        in: path
        description: endpoint_id is the ID for the VPC endpoint on the customer's side.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetAwsEndpointConnectionStateBody'
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AwsEndpointConnection'
        '400':
          description: Returned when a request field is invalid.
          content:
            application/json:
              schema: {}
        '401':
          description: Returned when the token bearer cannot be authenticated.
          content:
            application/json:
              schema: {}
        '403':
          description: Returned when the user does not have permission to access the resource.
          content:
            application/json:
              schema: {}
        '404':
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema: {}
        '500':
          description: Server error
          content:
            application/json:
              schema: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - Private Endpoint Services
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request PATCH \\\n  --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/networking/aws-endpoint-connections/{endpoint_id} \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --json '{\"status\":\"AVAILABLE\"}'"
  /api/v1/clusters/{cluster_id}/networking/private-endpoint-connections:
    get:
      operationId: CockroachCloud_ListPrivateEndpointConnections
      summary: List all connections to a cluster's private endpoint service
      description: 'Can be used by the following roles assigned at the organization, folder or cluster scope:

        - CLUSTER_ADMIN

        - CLUSTER_OPERATOR_WRITER

        - CLUSTER_DEVELOPER

        - AUDITOR'
      parameters:
      - name: cluster_id
        in: path
        description: cluster_id is the ID for the cluster.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnections'
        '400':
          description: Returned when a request field is invalid.
          content:
            application/json:
              schema: {}
        '401':
          description: Returned when the token bearer cannot be authenticated.
          content:
            application/json:
              schema: {}
        '403':
          description: Returned when the user does not have permission to access the resource.
          content:
            application/json:
              schema: {}
        '404':
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema: {}
        '500':
          description: Server error
          content:
            application/json:
              schema: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - Private Endpoint Services
      x-badges:
      - color: blue
        label: PREVIEW
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/networking/private-endpoint-connections \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
    post:
      operationId: CockroachCloud_AddPrivateEndpointConnection
      summary: Add a connection to a cluster's private endpoint service
      description: 'Can be used by the following roles assigned at the organization, folder or cluster scope:

        - CLUSTER_ADMIN

        - CLUSTER_OPERATOR_WRITER'
      parameters:
      - name: cluster_id
        in: path
        description: 'cluster_id is the id of the cluster to which the private endpoint

          connection will be added.'
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPrivateEndpointConnectionBody'
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
        '400':
          description: Returned when a request field is invalid.
          content:
            application/json:
              schema: {}
        '401':
          description: Returned when the token bearer cannot be authenticated.
          content:
            application/json:
              schema: {}
        '403':
          description: Returned when the user does not have permission to access the resource.
          content:
            application/json:
              schema: {}
        '404':
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema: {}
        '500':
          description: Server error
          content:
            application/json:
              schema: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - Private Endpoint Services
      x-badges:
      - color: blue
        label: PREVIEW
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request POST \\\n  --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/networking/private-endpoint-connections \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --json '{\"cluster_id\":\"35c4abb2-bb66-46d7-afed-25ebef5ed2aa\",\"endpoint_id\":\"e-65de2gf3\"}'"
  /api/v1/clusters/{cluster_id}/networking/private-endpoint-connections/{endpoint_id}:
    delete:
      operationId: CockroachCloud_DeletePrivateEndpointConnection
      summary: Delete a connection from a cluster's private endpoint service
      description: 'Remove a private endpoint from a service''s trusted endpoints list. Caller should make sure to URL encode the endpoint_id before calling this method.


        Can be used by the following roles assigned at the organization, folder or cluster scope:

        - CLUSTER_ADMIN

        - CLUSTER_OPERATOR_WRITER'
      parameters:
      - name: cluster_id
        in: path
        description: 'cluster_id is the id of the cluster from which the private endpoint

          connection will be removed.'
        required: true
        schema:
          type: string
      - name: endpoint_id
        in: path
        description: 'endpoint_id is the id of the private endpoint associated with a cluster''s

          private endpoint service.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Returned when a request field is invalid.
          content:
            application/json:
              schema: {}
        '401':
          description: Returned when the token bearer cannot be authenticated.
          content:
            application/json:
              schema: {}
        '403':
          description: Returned when the user does not have permission to access the resource.
          content:
            application/json:
              schema: {}
        '404':
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema: {}
        '500':
          description: Server error
          content:
            application/json:
              schema: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - Private Endpoint Services
      x-badges:
      - color: blue
        label: PREVIEW
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request DELETE \\\n  --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/networking/private-endpoint-connections/{endpoint_id} \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
  /api/v1/clusters/{cluster_id}/networking/private-endpoint-services:
    get:
      operationId: CockroachCloud_ListPrivateEndpointServices
      summary: List all PrivateEndpointServices for a cluster
      description: 'The internal_dns property from the regions field in the ListClusters response can be used to connect to PrivateEndpointServices.


        Can be used by the following roles assigned at the organization, folder or cluster scope:

        - CLUSTER_ADMIN

        - CLUSTER_OPERATOR_WRITER

        - CLUSTER_DEVELOPER

        - AUDITOR'
      parameters:
      - name: cluster_id
        in: path
        description: cluster_id is the ID for the cluster.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointServices'
        '400':
          description: Returned when a request field is invalid.
          content:
            application/json:
              schema: {}
        '401':
          description: Returned when the token bearer cannot be authenticated.
          content:
            application/json:
              schema: {}
        '403':
          description: Returned when the user does not have permission to access the resource.
          content:
            application/json:
              schema: {}
        '404':
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema: {}
        '500':
          description: Server error
          content:
            application/json:
              schema: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - Private Endpoint Services
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/networking/private-endpoint-services \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
    post:
      operationId: CockroachCloud_CreatePrivateEndpointServices
      summary: Create all PrivateEndpointServices for a cluster
      description: 'Can be used by the following roles assigned at the organization, folder or cluster scope:

        - CLUSTER_ADMIN

        - CLUSTER_OPERATOR_WRITER'
      parameters:
      - name: cluster_id
        in: path
        description: cluster_id is the ID for the cluster.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointServices'
        '400':
          description: Returned when a request field is invalid.
          content:
            application/json:
              schema: {}
        '401':
          description: Returned when the token bearer cannot be authenticated.
          content:
            application/json:
              schema: {}
        '403':
          description: Returned when the user does not have permission to access the resource.
          content:
            application/json:
              schema: {}
        '404':
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema: {}
        '500':
          description: Server error
          content:
            application/json:
              schema: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - Private Endpoint Services
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request POST \\\n  --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/networking/private-endpoint-services \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
  /api/v1/clusters/{cluster_id}/networking/private-endpoint-trusted-owners:
    get:
      operationId: CockroachCloud_ListPrivateEndpointTrustedOwners
      summary: List all private endpoint trusted owners for a cluster
      description: 'Can be used by the following roles assigned at the organization, folder or cluster scope:

        - CLUSTER_ADMIN

        - CLUSTER_OPERATOR_WRITER

        - AUDITOR'
      parameters:
      - name: cluster_id
        in: path
        description: cluster_id is the ID for the cluster.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPrivateEndpointTrustedOwnersResponse'
        '400':
          description: Returned when a request field is invalid.
          content:
            application/json:
              schema: {}
        '401':
          description: Returned when the token bearer cannot be authenticated.
          content:
            application/json:
              schema: {}
        '403':
          description: Returned when the user does not have permission to access the resource.
          content:
            application/json:
              schema: {}
        '404':
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema: {}
        '500':
          description: Server error
          content:
            application/json:
              schema: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - Private Endpoint Services
      x-badges:
      - color: red
        label: LIMITED ACCESS
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/networking/private-endpoint-trusted-owners \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
    post:
      operationId: CockroachCloud_AddPrivateEndpointTrustedOwner
      summary: Add a private endpoint trusted owner to a cluster
      description: 'Can be used by the following roles assigned at the organization, folder or cluster scope:

        - CLUSTER_ADMIN'
      parameters:
      - name: cluster_id
        in: path
        description: cluster_id is the ID for the cluster.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPrivateEndpointTrustedOwnerBody'
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddPrivateEndpointTrustedOwnerResponse'
        '400':
          description: Returned when a request field is invalid.
          content:
            application/json:
              schema: {}
        '401':
          description: Returned when the token bearer cannot be authenticated.
          content:
            application/json:
              schema: {}
        '403':
          description: Returned when the user does not have permission to access the resource.
          content:
            application/json:
              schema: {}
        '404':
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema: {}
        '500':
          description: Server error
          content:
            application/json:
              schema: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - Private Endpoint Services
      x-badges:
      - color: red
        label: LIMITED ACCESS
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request POST \\\n  --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/networking/private-endpoint-trusted-owners \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --json '{\"external_owner_id\":\"012345678901\",\"type\":\"AWS_ACCOUNT_ID\"}'"
  /api/v1/clusters/{cluster_id}/networking/private-endpoint-trusted-owners/{owner_id}:
    delete:
      operationId: CockroachCloud_RemovePrivateEndpointTrustedOwner
      summary: Remove a private endpoint trusted owner from a cluster
      description: 'Can be used by the following roles assigned at the organization, folder or cluster scope:

        - CLUSTER_ADMIN'
      parameters:
      - name: cluster_id
        in: path
        description: cluster_id is the ID for the cluster.
        required: true
        schema:
          type: string
      - name: owner_id
        in: path
        description: 'owner_id corresponds to the UUID of the private endpoint trusted owner

          entry.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemovePrivateEndpointTrustedOwnerResponse'
        '400':
          description: Returned when a request field is invalid.
          content:
            application/json:
              schema: {}
        '401':
          description: Returned when the token bearer cannot be authenticated.
          content:
            application/json:
              schema: {}
        '403':
          description: Returned when the user does not have permission to access the resource.
          content:
            application/json:
              schema: {}
        '404':
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema: {}
        '500':
          description: Server error
          content:
            application/json:
              schema: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - Private Endpoint Services
      x-badges:
      - color: red
        label: LIMITED ACCESS
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request DELETE \\\n  --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/networking/private-endpoint-trusted-owners/{owner_id} \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
    get:
      operationId: CockroachCloud_GetPrivateEndpointTrustedOwner
      summary: Get a private endpoint trusted owner entry for a cluster
      description: 'Can be used by the following roles assigned at the organization, folder or cluster scope:

        - CLUSTER_ADMIN

        - CLUSTER_OPERATOR_WRITER

        - AUDITOR'
      parameters:
      - name: cluster_id
        in: path
        description: cluster_id is the ID for the cluster.
        required: true
        schema:
          type: string
      - name: owner_id
        in: path
        description: 'owner_id corresponds to the UUID of the private endpoint trusted owner

          entry.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPrivateEndpointTrustedOwnerResponse'
        '400':
          description: Returned when a request field is invalid.
          content:
            application/json:
              schema: {}
        '401':
          description: Returned when the token bearer cannot be authenticated.
          content:
            application/json:
              schema: {}
        '403':
          description: Returned when the user does not have permission to access the resource.
          content:
            application/json:
              schema: {}
        '404':
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema: {}
        '500':
          description: Server error
          content:
            application/json:
              schema: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - Private Endpoint Services
      x-badges:
      - color: red
        label: LIMITED ACCESS
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/networking/private-endpoint-trusted-owners/{owner_id} \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
components:
  schemas:
    Status:
      type: object
      properties:
        code:
          type: integer
          format: int32
        details:
          type: array
          items:
            $ref: '#/components/schemas/Any'
        message:
          type: string
    CloudProvider.Type:
      description: " - GCP: The Google Cloud Platform cloud provider.\n - AWS: The Amazon Web Services cloud provider.\n - AZURE: The Azure cloud provider."
      type: string
      enum:
      - GCP
      - AWS
      - AZURE
    AddPrivateEndpointTrustedOwnerResponse:
      type: object
      properties:
        trusted_owner:
          $ref: '#/components/schemas/PrivateEndpointTrustedOwner'
      required:
      - trusted_owner
    PrivateEndpointServices:
      type: object
      properties:
        services:
          description: services contains a list of all cluster related services.
          type: array
          items:
            $ref: '#/components/schemas/PrivateEndpointService'
      required:
      - services
    SetAwsEndpointConnectionStateBody:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/SetAWSEndpointConnectionStatus.Type'
      example:
        status: AVAILABLE
      required:
      - status
      title: SetAwsEndpointConnectionStateRequest
    AWSEndpointConnectionStatus.Type:
      type: string
      enum:
      - PENDING
      - PENDING_ACCEPTANCE
      - AVAILABLE
      - DELETING
      - DELETED
      - REJECTED
      - FAILED
      - EXPIRED
    PrivateEndpointServiceStatus.Type:
      type: string
      enum:
      - CREATING
      - AVAILABLE
      - CREATE_FAILED
      - DELETING
      - DELETE_FAILED
    PrivateEndpointTrustedOwner:
      description: 'PrivateEndpointTrustedOwner represents a trusted owner entry for private

        endpoint connections.'
      type: object
      properties:
        cluster_id:
          description: cluster_id identifies the cluster to which this trusted owner entry applies.
          type: string
        created_at:
          description: created_at is the time at which the entry was created.
          type: string
          format: date-time
        external_owner_id:
          description: 'external_owner_id is the identifier of the owner within the cloud provider

            for private endpoint connections. A wildcard character ("*") can be used to

            denote all owners.'
          type: string
        id:
          description: id is a UUID that uniquely identifies this trusted owner entry.
          type: string
        type:
          $ref: '#/components/schemas/PrivateEndpointTrustedOwnerType.Type'
      required:
      - id
      - cluster_id
      - type
      - external_owner_id
      - created_at
      title: PrivateEndpointTrustedOwner
    GetPrivateEndpointTrustedOwnerResponse:
      type: object
      properties:
        trusted_owner:
          $ref: '#/components/schemas/PrivateEndpointTrustedOwner'
      required:
      - trusted_owner
    PrivateEndpointTrustedOwnerType.Type:
      description: ' - AWS_ACCOUNT_ID: AWS_ACCOUNT_ID represents the 12-digit AWS account number.'
      type: string
      enum:
      - AWS_ACCOUNT_ID
    AwsEndpointConnections:
      type: object
      properties:
        connections:
          description: Connections is a list of private endpoints.
          type: array
          items:
            $ref: '#/components/schemas/AwsEndpointConnection'
      required:
      - connections
    PrivateEndpointConnection:
      type: object
      properties:
        cloud_provider:
          $ref: '#/components/schemas/CloudProvider.Type'
        endpoint_id:
          description: 'endpoint_id is the id of the private endpoint associated with this

            connection. The private endpoint is customer-created and its id is

            generated by the cloud provider at endpoint creation time.'
          type: string
        endpoint_service_id:
          description: 'endpoint_service_id is the id of the private endpoint service associated

            with this connection.'
          type: string
        external_owner_id:
          description: 'external_owner_id uniquely identifies the owner of the private endpoint

            connection cloud resource. This idenfier is the AWS account id

            owning the PrivateLink connection. This field is only valid on AWS clusters.'
          type: string
        region_name:
          description: region_name is the cloud provider region name (e.g. us-east-1).
          type: string
        service_name:
          description: 'service_name is the name of the private endpoints service that this connection

            corresponds to.'
          type: string
        status:
          $ref: '#/components/schemas/PrivateEndpointConnectionStatus'
      example:
        cloud: AWS
        cloud_provider: AWS
        endpoint_id: 2w543-45643-323fd
        endpoint_service_id: 34t-4t446-876bm
        region: us-east-1
        service_name: com.vpc-serv1
        status: STATUS_AVAILABLE
      required:
      - region
      - cloud_provider
      - status
      - endpoint_id
      - endpoint_service_id
      - service_name
    PrivateEndpointConnectionStatus:
      description: "PrivateEndpointConnectionStatus enumerates the possible statuses\nfor the private endpoints connection.\n\n - STATUS_STALE: Indicates that the endpoint was deleted outside of CockroachDB Cloud. Delete the endpoint\nthrough the Cloud API or Console to manually remove the connection entry."
      type: string
      enum:
      - STATUS_PENDING
      - STATUS_PENDING_ACCEPTANCE
      - STATUS_AVAILABLE
      - STATUS_DELETING
      - STATUS_DELETED
      - STATUS_REJECTED
      - STATUS_FAILED
      - STATUS_EXPIRED
      - STATUS_STALE
    PrivateEndpointService:
      type: object
      properties:
        availability_zone_ids:
          description: 'availability_zone_ids are the unique identifiers for the availability

            zones in which this service is available. Note these identifiers

            are unique even across typical cloud provider boundaries, for example

            AWS accounts or organizations. In AWS, availability zone ids for us-east-1

            are use1-az1, use1-az2, use1-az3.'
          type: array
          items:
            type: string
        aws:
          $ref: '#/components/schemas/AWSPrivateLinkServiceDetail'
        cloud_provider:
          $ref: '#/components/schemas/CloudProvider.Type'
        endpoint_service_id:
          description: 'endpoint_service_id uniquely identifies this private endpoint service. This

            is the cloud provider generated id for the service.'
          type: string
        name:
          description: name is the name of the private endpoints service.
          type: string
        region_name:
          description: region_name is the cloud provider region name (e.g. us-east-1).
          type: string
        status:
          $ref: '#/components/schemas/PrivateEndpointServiceStatus.Type'
      required:
      - region_name
      - cloud_provider
      - status
      - name
      - endpoint_service_id
      - availability_zone_ids
    ListPrivateEndpointTrustedOwnersResponse:
      type: object
      properties:
        trusted_owners:
          description: 'trusted_owners describes the private endpoint trusted owner entries for the

            requested cluster.'
          type: array
          items:
            $ref: '#/components/schemas/PrivateEndpointTrustedOwner'
    SetAWSEndpointConnectionStatus.Type:
      description: " - AVAILABLE: accept/verify the connection on the service side.\n - REJECTED: reject the connection on the service side."
      type: string
      enum:
      - AVAILABLE
      - REJECTED
    AwsEndpointConnection:
      type: object
      properties:
        cloud_provider:
          $ref: '#/components/schemas/CloudProvider.Type'
        endpoint_id:
          description: endpoint_id is the client side of the PrivateLink connection.
          type: string
        external_owner_id:
          description: 'external_owner_id represents the ID of the AWS account that owns the

            PrivateLink connection.'
          type: string
        region_name:
          description: region_name is the cloud provider region name (i.e. us-east-1).
          type: string
        service_id:
          description: 'service_id is the server side of the PrivateLink

            connection. This is the same as AWSPrivateLinkEndpoint.service_id.'
          type: string
        status:
          $ref: '#/components/schemas/AWSEndpointConnectionStatus.Type'
      required:
      - region_name
      - cloud_provider
      - status
      - endpoint_id
      - service_id
    AddPrivateEndpointTrustedOwnerBody:
      type: object
      properties:
        external_owner_id:
          description: 'external_owner_id is the identifier of the owner within the cloud provider

            for private endpoint connections. A wildcard character ("*") can be used to

            denote all owners.'
          type: string
        type:
          $ref: '#/components/schemas/PrivateEndpointTrustedOwnerType.Type'
      example:
        external_owner_id: 012345678901
        type: AWS_ACCOUNT_ID
      required:
      - type
      - external_owner_id
      title: AddPrivateEndpointTrustedOwnerRequest
    Any:
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nIn its binary encoding, an `Any` is an ordinary message; but in other wire\nforms like JSON, it has a special encoding. The format of the type URL is\ndescribed on the `type_url` field.\n\nProtobuf APIs provide utilities to interact with `Any` values:\n\n- A 'pack' operation accepts a message and constructs a generic `Any` wrapper\n  around it.\n- An 'unpack' operation reads the content of an `Any` message, either into an\n  existing message or a new one. Unpack operations must check the type of the\n  value they unpack against the declared `type_url`.\n- An 'is' operation decides whether an `Any` contains a message of the given\n  type, i.e. whether it can 'unpack' that type.\n\nThe JSON format representation of an `Any` follows one of these cases:\n\n- For types without special-cased JSON encodings, the JSON format\n  representation of the `Any` is the same as that of the message, with an\n  additional `@type` field which contains the type URL.\n- For types with special-cased JSON encodings (typically called 'well-known'\n  types, listed in https://protobuf.dev/programming-guides/json/#any), the\n  JSON format representation has a key `@type` which contains the type URL\n  and a key `value` which contains the JSON-serialized value.\n\nThe text format representation of an `Any` is like a message with one field\nwhose name is the type URL in brackets. For example, an `Any` containing a\n`foo.Bar` message may be written `[type.googleapis.com/foo.Bar] { a: 2 }`."
      type: object
      properties:
        '@type':
          description: 'Identifies the type of the serialized Protobuf message with a URI reference

            consisting of a prefix ending in a slash and the fully-qualified type name.


            Example: type.googleapis.com/google.protobuf.StringValue


            This string must contain at least one `/` character, and the content after

            the last `/` must be the fully-qualified name of the type in canonical

            form, without a leading dot. Do not write a scheme on these URI references

            so that clients do not attempt to contact them.


            The prefix is arbitrary and Protobuf implementations are expected to

            simply strip off everything up to and including the last `/` to identify

            the type. `type.googleapis.com/` is a common default prefix that some

            legacy implementations require. This prefix does not indicate the origin of

            the type, and URIs containing it are not expected to respond to any

            requests.


            All type URL strings must be legal URI references with the additional

            restriction (for the text format) that the content of the reference

            must consist only of alphanumeric characters, percent-encoded escapes, and

            characters in the following set (not including the outer backticks):

            `/-.~_!$&()*+,;=`. Despite our allowing percent encodings, implementations

            should not unescape them to prevent confusion with existing parsers. For

            example, `type.googleapis.com%2FFoo` should be rejected.


            In the original design of `Any`, the possibility of launching a type

            resolution service at these type URLs was considered but Protobuf never

            implemented one and considers contacting these URLs to be problematic and

            a potential security issue. Do not attempt to contact type URLs.'
          type: string
      additionalProperties: {}
    AWSPrivateLinkServiceDetail:
      type: object
      properties:
        availability_zone_ids:
          description: 'availability_zone_ids are the identifiers for the availability zones

            that the service is available in.'
          type: array
          items:
            type: string
        service_id:
          description: 'service_id is the server side of the PrivateLink

            connection. This is the same as AWSPrivateLinkEndpoint.service_id.'
          type: string
        service_name:
          description: 'service_name is the AWS service name customers use to create endpoints

            on their end.'
          type: string
      required:
      - service_name
      - service_id
      - availability_zone_ids
    RemovePrivateEndpointTrustedOwnerResponse:
      type: object
      properties:
        trusted_owner:
          $ref: '#/components/schemas/PrivateEndpointTrustedOwner'
      required:
      - trusted_owner
    AddPrivateEndpointConnectionBody:
      type: object
      properties:
        endpoint_id:
          description: 'endpoint_id is the id of the private endpoint associated with a cluster''s

            private endpoint service. The private endpoint is customer-created and

            its id is generated by the cloud provider at endpoint creation time.'
          type: string
      example:
        cluster_id: 35c4abb2-bb66-46d7-afed-25ebef5ed2aa
        endpoint_id: e-65de2gf3
      required:
      - endpoint_id
      title: AddPrivateEndpointConnectionRequest
    PrivateEndpointConnections:
      type: object
      properties:
        connections:
          description: Connections is a list of private endpoints.
          type: array
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
      required:
      - connections
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
externalDocs:
  description: Use the CockroachDB Cloud API
  url: https://www.cockroachlabs.com/docs/cockroachcloud/cloud-api.html
