openapi: 3.2.0
info:
  contact:
    email: support@cockroachlabs.com
    name: Cockroach Labs Support
    url: https://support.cockroachlabs.com
  description: An API for managing CockroachDB Cloud resources
  title: CockroachDB Cloud Version Deferral API
  version: '2026-09-15'
servers:
- url: https://cockroachlabs.cloud
security:
- Bearer: []
tags:
- name: Version Deferral
paths:
  /api/v1/clusters/{cluster_id}/version-deferral:
    get:
      operationId: CockroachCloud_GetClusterVersionDeferral
      summary: Get the version upgrade deferral policy for a cluster
      description: 'Can be used by the following roles assigned at the organization, folder or cluster scope:

        - CLUSTER_ADMIN

        - CLUSTER_OPERATOR_WRITER

        - AUDITOR'
      parameters:
      - name: cluster_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterVersionDeferral'
        '400':
          description: Returned when a request field is invalid.
          content:
            application/json:
              schema: {}
        '401':
          description: Returned when the token bearer cannot be authenticated.
          content:
            application/json:
              schema: {}
        '403':
          description: Returned when the user does not have permission to access the resource.
          content:
            application/json:
              schema: {}
        '404':
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema: {}
        '500':
          description: Server error
          content:
            application/json:
              schema: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - Version Deferral
      x-badges:
      - color: blue
        label: PREVIEW
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/version-deferral \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
    put:
      operationId: CockroachCloud_SetClusterVersionDeferral
      summary: Set the version upgrade deferral policy for a cluster
      description: 'Can be used by the following roles assigned at the organization, folder or cluster scope:

        - CLUSTER_ADMIN

        - CLUSTER_OPERATOR_WRITER'
      parameters:
      - name: cluster_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterVersionDeferralUpdate'
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterVersionDeferral'
        '400':
          description: Returned when a request field is invalid.
          content:
            application/json:
              schema: {}
        '401':
          description: Returned when the token bearer cannot be authenticated.
          content:
            application/json:
              schema: {}
        '403':
          description: Returned when the user does not have permission to access the resource.
          content:
            application/json:
              schema: {}
        '404':
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema: {}
        '500':
          description: Server error
          content:
            application/json:
              schema: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - Version Deferral
      x-badges:
      - color: blue
        label: PREVIEW
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request PUT \\\n  --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/version-deferral \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --json '{\"deferral_policy\":\"DEFERRAL_60_DAYS\"}'"
components:
  schemas:
    Any:
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nIn its binary encoding, an `Any` is an ordinary message; but in other wire\nforms like JSON, it has a special encoding. The format of the type URL is\ndescribed on the `type_url` field.\n\nProtobuf APIs provide utilities to interact with `Any` values:\n\n- A 'pack' operation accepts a message and constructs a generic `Any` wrapper\n  around it.\n- An 'unpack' operation reads the content of an `Any` message, either into an\n  existing message or a new one. Unpack operations must check the type of the\n  value they unpack against the declared `type_url`.\n- An 'is' operation decides whether an `Any` contains a message of the given\n  type, i.e. whether it can 'unpack' that type.\n\nThe JSON format representation of an `Any` follows one of these cases:\n\n- For types without special-cased JSON encodings, the JSON format\n  representation of the `Any` is the same as that of the message, with an\n  additional `@type` field which contains the type URL.\n- For types with special-cased JSON encodings (typically called 'well-known'\n  types, listed in https://protobuf.dev/programming-guides/json/#any), the\n  JSON format representation has a key `@type` which contains the type URL\n  and a key `value` which contains the JSON-serialized value.\n\nThe text format representation of an `Any` is like a message with one field\nwhose name is the type URL in brackets. For example, an `Any` containing a\n`foo.Bar` message may be written `[type.googleapis.com/foo.Bar] { a: 2 }`."
      type: object
      properties:
        '@type':
          description: 'Identifies the type of the serialized Protobuf message with a URI reference

            consisting of a prefix ending in a slash and the fully-qualified type name.


            Example: type.googleapis.com/google.protobuf.StringValue


            This string must contain at least one `/` character, and the content after

            the last `/` must be the fully-qualified name of the type in canonical

            form, without a leading dot. Do not write a scheme on these URI references

            so that clients do not attempt to contact them.


            The prefix is arbitrary and Protobuf implementations are expected to

            simply strip off everything up to and including the last `/` to identify

            the type. `type.googleapis.com/` is a common default prefix that some

            legacy implementations require. This prefix does not indicate the origin of

            the type, and URIs containing it are not expected to respond to any

            requests.


            All type URL strings must be legal URI references with the additional

            restriction (for the text format) that the content of the reference

            must consist only of alphanumeric characters, percent-encoded escapes, and

            characters in the following set (not including the outer backticks):

            `/-.~_!$&()*+,;=`. Despite our allowing percent encodings, implementations

            should not unescape them to prevent confusion with existing parsers. For

            example, `type.googleapis.com%2FFoo` should be rejected.


            In the original design of `Any`, the possibility of launching a type

            resolution service at these type URLs was considered but Protobuf never

            implemented one and considers contacting these URLs to be problematic and

            a potential security issue. Do not attempt to contact type URLs.'
          type: string
      additionalProperties: {}
    Status:
      type: object
      properties:
        code:
          type: integer
          format: int32
        details:
          type: array
          items:
            $ref: '#/components/schemas/Any'
        message:
          type: string
    ClusterVersionDeferralPolicy.Type:
      description: " - NOT_DEFERRED: automatic patch version upgrades are applied immediately after release.\n - DEFERRAL_60_DAYS: automatic patch version upgrades are applied in a maintenance window at\nleast 60 days after the patch version release date.\n - FIXED_DEFERRAL: Deprecated: FIXED_DEFERRAL is equivalent to DEFERRAL_60_DAYS. It will be\nremoved in a future version.\n - DEFERRAL_30_DAYS: automatic patch version upgrades are applied in a maintenance window at\nleast 30 days after the patch version release date.\n - DEFERRAL_90_DAYS: automatic patch version upgrades are applied in a maintenance window at\nleast 90 days after the patch version release date."
      type: string
      enum:
      - NOT_DEFERRED
      - DEFERRAL_60_DAYS
      - FIXED_DEFERRAL
      - DEFERRAL_30_DAYS
      - DEFERRAL_90_DAYS
    ClusterVersionDeferral:
      description: 'ClusterVersionDeferral specifies whether automatic patch version upgrades are applied

        immediately or deferred. If upgrades are deferred, the cluster will be automatically

        upgraded to each patch version after the specified number of days (30, 60, or 90)

        after the version is released to CockroachDB Cloud.'
      type: object
      properties:
        deferral_policy:
          $ref: '#/components/schemas/ClusterVersionDeferralPolicy.Type'
        deferred_until:
          type: string
          format: date-time
          title: 'The calculated date and time after which the cluster will be eligible for the next patch upgrade,

            based on the deferral policy and the patch version''s release date.

            The patch will be applied in a maintenance window available after the deferral date.

            This field will be null if:

            - The deferral policy is NOT_DEFERRED (immediate eligibility upon patch release)

            - There is no pending patch version available

            - The cluster is already on the latest patch version

            - Version release date information is unavailable'
      example:
        deferral_policy: DEFERRAL_60_DAYS
        deferred_until: '2025-12-15T00:00:00Z'
      required:
      - deferral_policy
      title: ClusterVersionDeferral
    ClusterVersionDeferralUpdate:
      type: object
      properties:
        deferral_policy:
          $ref: '#/components/schemas/ClusterVersionDeferralPolicy.Type'
        deferred_until:
          description: 'Deprecated: This field is ignored and will be removed in a future version.'
          type: string
          format: date-time
      example:
        deferral_policy: DEFERRAL_60_DAYS
      required:
      - deferral_policy
      title: ClusterVersionDeferralUpdate
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
externalDocs:
  description: Use the CockroachDB Cloud API
  url: https://www.cockroachlabs.com/docs/cockroachcloud/cloud-api.html
