openapi: 3.2.0
info:
  contact:
    email: support@cockroachlabs.com
    name: Cockroach Labs Support
    url: https://support.cockroachlabs.com
  description: An API for managing CockroachDB Cloud resources
  title: CockroachDB Cloud Cluster Disruption API
  version: '2026-09-15'
servers:
- url: https://cockroachlabs.cloud
security:
- Bearer: []
tags:
- name: Cluster Disruption
paths:
  /api/v1/clusters/{cluster_id}/disrupt:
    get:
      operationId: CockroachCloud_GetClusterDisruptionInfo
      summary: Get disruption specifications for a cluster
      description: 'Can be used by the following roles assigned at the organization, folder or cluster scope:

        - CLUSTER_ADMIN

        - CLUSTER_OPERATOR_WRITER'
      parameters:
      - name: cluster_id
        in: path
        description: cluster_id is the cluster we are requesting disruption information for.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterDisruptionInfo'
        '400':
          description: Returned when a request field is invalid.
          content:
            application/json:
              schema: {}
        '401':
          description: Returned when the token bearer cannot be authenticated.
          content:
            application/json:
              schema: {}
        '403':
          description: Returned when the user does not have permission to access the resource.
          content:
            application/json:
              schema: {}
        '404':
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema: {}
        '500':
          description: Server error
          content:
            application/json:
              schema: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - Cluster Disruption
      x-badges:
      - color: red
        label: LIMITED ACCESS
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/disrupt \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
    put:
      operationId: CockroachCloud_UpdateClusterDisruption
      summary: Update disruption specifications for a cluster
      description: 'Can be used by the following roles assigned at the organization, folder or cluster scope:

        - CLUSTER_ADMIN

        - CLUSTER_OPERATOR_WRITER'
      parameters:
      - name: cluster_id
        in: path
        description: cluster_id specifies the cluster for this request.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateClusterDisruptionBody'
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterDisruptionInfo'
        '400':
          description: Returned when a request field is invalid.
          content:
            application/json:
              schema: {}
        '401':
          description: Returned when the token bearer cannot be authenticated.
          content:
            application/json:
              schema: {}
        '403':
          description: Returned when the user does not have permission to access the resource.
          content:
            application/json:
              schema: {}
        '404':
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema: {}
        '500':
          description: Server error
          content:
            application/json:
              schema: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
      tags:
      - Cluster Disruption
      x-badges:
      - color: red
        label: LIMITED ACCESS
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request PUT \\\n  --url https://cockroachlabs.cloud/api/v1/clusters/{cluster_id}/disrupt \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --json '{\"regional_disruptor_specifications\":[{\"azs\":[\"string\"],\"is_whole_region\":true,\"pods\":[\"string\"],\"region_code\":\"string\"}]}'"
components:
  schemas:
    Any:
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nIn its binary encoding, an `Any` is an ordinary message; but in other wire\nforms like JSON, it has a special encoding. The format of the type URL is\ndescribed on the `type_url` field.\n\nProtobuf APIs provide utilities to interact with `Any` values:\n\n- A 'pack' operation accepts a message and constructs a generic `Any` wrapper\n  around it.\n- An 'unpack' operation reads the content of an `Any` message, either into an\n  existing message or a new one. Unpack operations must check the type of the\n  value they unpack against the declared `type_url`.\n- An 'is' operation decides whether an `Any` contains a message of the given\n  type, i.e. whether it can 'unpack' that type.\n\nThe JSON format representation of an `Any` follows one of these cases:\n\n- For types without special-cased JSON encodings, the JSON format\n  representation of the `Any` is the same as that of the message, with an\n  additional `@type` field which contains the type URL.\n- For types with special-cased JSON encodings (typically called 'well-known'\n  types, listed in https://protobuf.dev/programming-guides/json/#any), the\n  JSON format representation has a key `@type` which contains the type URL\n  and a key `value` which contains the JSON-serialized value.\n\nThe text format representation of an `Any` is like a message with one field\nwhose name is the type URL in brackets. For example, an `Any` containing a\n`foo.Bar` message may be written `[type.googleapis.com/foo.Bar] { a: 2 }`."
      type: object
      properties:
        '@type':
          description: 'Identifies the type of the serialized Protobuf message with a URI reference

            consisting of a prefix ending in a slash and the fully-qualified type name.


            Example: type.googleapis.com/google.protobuf.StringValue


            This string must contain at least one `/` character, and the content after

            the last `/` must be the fully-qualified name of the type in canonical

            form, without a leading dot. Do not write a scheme on these URI references

            so that clients do not attempt to contact them.


            The prefix is arbitrary and Protobuf implementations are expected to

            simply strip off everything up to and including the last `/` to identify

            the type. `type.googleapis.com/` is a common default prefix that some

            legacy implementations require. This prefix does not indicate the origin of

            the type, and URIs containing it are not expected to respond to any

            requests.


            All type URL strings must be legal URI references with the additional

            restriction (for the text format) that the content of the reference

            must consist only of alphanumeric characters, percent-encoded escapes, and

            characters in the following set (not including the outer backticks):

            `/-.~_!$&()*+,;=`. Despite our allowing percent encodings, implementations

            should not unescape them to prevent confusion with existing parsers. For

            example, `type.googleapis.com%2FFoo` should be rejected.


            In the original design of `Any`, the possibility of launching a type

            resolution service at these type URLs was considered but Protobuf never

            implemented one and considers contacting these URLs to be problematic and

            a potential security issue. Do not attempt to contact type URLs.'
          type: string
      additionalProperties: {}
    Status:
      type: object
      properties:
        code:
          type: integer
          format: int32
        details:
          type: array
          items:
            $ref: '#/components/schemas/Any'
        message:
          type: string
    RegionalDisruptorSpecification:
      description: 'RegionalDisruptorSpecification represents how a region is disrupted. To

        reduce ambiguity, a RegionalDisruptorSpecification should not represent a

        healthy cluster - there should be at least some disrupted pods.'
      type: object
      properties:
        azs:
          type: array
          items:
            type: string
          title: 'azs represents each availability zone that should be disrupted. The AZs for

            a cluster can be found in the db-console under the Advanced Debug -

            Localities section. The AZ should not include the cloud provider name

            prefix.  (i.e. us-east1-a)'
        is_whole_region:
          description: 'is_whole_region denotes whether the whole region should be disrupted.  If a

            specific pod or az is passed, this value should be false.'
          type: boolean
        pods:
          description: 'pods represents each individual CRDB pod name that should be disrupted.

            Pod names can be found using the

            [ListClusterNodes api](https://www.cockroachlabs.com/docs/api/cloud/v1#get-/api/v1/clusters/-cluster_id-/nodes).'
          type: array
          items:
            type: string
        region_code:
          description: 'region_code is the cloud provider specific region code of the region. (i.e

            us-east1 for gcp, us-east-1 for aws, eastus for azure). Region names for

            each node the cluster can be found using the

            [ListClusterNodes api](https://www.cockroachlabs.com/docs/api/cloud/v1#get-/api/v1/clusters/-cluster_id-/nodes).'
          type: string
      required:
      - region_code
      - is_whole_region
    UpdateClusterDisruptionBody:
      type: object
      properties:
        regional_disruptor_specifications:
          description: 'regional_disruptor_specifications specify how regions are to be

            disrupted. Any Cluster region that is not specified here will not be

            disrupted. A cluster region that was previously disrupted but is not listed

            here will be removed from disruption. To stop all disruptions, set this

            to an empty list or omit it from the request.'
          type: array
          items:
            $ref: '#/components/schemas/RegionalDisruptorSpecification'
    ClusterDisruptionInfo:
      type: object
      properties:
        regional_disruptor_specifications:
          description: 'regional_disruptor_specifications represents a region that is disrupted.

            If there are no entries, it means the cluster is not disrupted.'
          type: array
          items:
            $ref: '#/components/schemas/RegionalDisruptorSpecification'
      required:
      - regional_disruptor_specifications
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
externalDocs:
  description: Use the CockroachDB Cloud API
  url: https://www.cockroachlabs.com/docs/cockroachcloud/cloud-api.html
